// colors palette
$primary-color: #000;
$cta-color-001: #fecdd0;
$cta-color-002: #f2f2f2;
$heading-color-001: #fff;
$cta-color-003: #fee6e7;


//font-family
$body-font: 'Work Sans', sans-serif;
$heading-font: 'Zen Maru Gothic', serif;

//sizing
